VITE_SUPABASE_URL=https://pflouriolsheawtdleym.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_aDzK02pb3q5Z73-ez0PbqA_jMyugq0M
SUPABASE_DB_URL=postgresql://postgres.pflouriolsheawtdleym:<your-password>@aws-1-us-west-1.pooler.supabase.com:5432/postgres
